<img
  src="assets/images/title-smoke.webp"
  alt="hookah smoke кальян дым"
  class="title-smoke-img"
/>

<div class="container">
  <img
    src="assets/images/title-text.webp"
    alt="SOLUTION HERITAGE LOUNGE BAR"
    class="title-text-img"
  />

  <div class="buttons-container">
    <button class="solution-btn" aria-label="Lounge Bar Solution Heritage Reserve a table" (click)="scrollTo('reserve')">{{ "BUTTON.RESERVE" | translate }}</button>
    <button class="solution-btn" aria-label="Lounge Bar Solution Heritage price" (click)="scrollTo('menu')">{{ "BUTTON.PRICE_LIST" | translate }}</button>
  </div>
</div>
