<div class="header container">
  <img src="assets/images/logo.svg" alt="logo" class="logo" />

  <div class="contacts">
    <a href="https://www.instagram.com/solution.heritage/" target="_blank"
      ><img src="assets/icons/instagram.svg" alt="instagram"
    /></a>
    <a href=""
      ><img src="assets/icons/whatsapp.svg" target="_blank" alt="whatsapp"
    /></a>
    <a href="tel:995-999-999-999"
      ><img src="assets/icons/phone.svg" alt="phone" class="phone-min"
    /></a>
    <a href=""><img src="assets/icons/geo.svg" alt="geolocation" /></a>
  </div>

  <div class="phone-lang">
    <a class="phone-max" href="tel:995-999-999-999">+ 995 999 999 999</a>
    <a class="lang-btn" (click)="toggleLang()">{{
      langButtonText | uppercase
    }}</a>
  </div>
</div>
