<div class="footer container">
  <a href="https://www.instagram.com/solution.heritage/" target="_blank"
    ><img src="assets/icons/instagram.svg" alt="https://www.instagram.com/solution.heritage/"
  /></a>
  <a href="https://t.me/SolutionHeritageLoungeBot" target="_blank"
    ><img src="assets/icons/telegram.svg" alt="https://t.me/SolutionHeritageLoungeBot"
  /></a>
  <a href="https://wa.me/995591062514?text={{ 'CONTACTS.WHATSAPP_HELLO_TEXT' | translate }}" target="_blank"
    ><img src="assets/icons/whatsapp.svg" alt="https://wa.me/995591062514"
  /></a>
  <a href="tel:995-591-062-514"
    ><img src="assets/icons/phone.svg" alt="995-591-062-514"
  /></a>
</div>
