@use "font-sizes";
@use "colors";
@use "breakpoints";

:host {
  display: block;
  padding-top: 120px;
  padding-bottom: 100px;

  @include breakpoints.sm-down {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  @include breakpoints.xs-down {
    padding-bottom: 20px;
  }
}

.container.map-container {
  padding: 0 !important;
  max-width: 1392px;
}

.address-container {
  margin-bottom: 20px;
  font-size: font-sizes.$font-16;
  line-height: 27px;


  @include breakpoints.xs-down {
    justify-content: flex-start;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &:hover .title {
      color: colors.$green;
    }

    .title {
      color: colors.$gold;
      text-decoration: underline;
      margin-right: 10px;
    }

    .address {
      color: colors.$white;
    }
  }
}

.map-container {
  display: block;
  width: 100%;
  height: 600px;
}
