@use "colors";
@use "breakpoints";
@use "font-sizes";
@import "solution";

body {
  margin: 0;
  color: colors.$white;
  background-color: colors.$black;
  font-family: "Comfortaa", arial;

  & {
    scrollbar-width: thin;
    scrollbar-color: colors.$gold colors.$black;
  }

  &::-webkit-scrollbar {
    position: absolute;
    bottom: 0;
    right: 0;

    &:vertical {
      width: 8px;
    }

    &:horizontal {
      height: 8px;
    }
  }

  &::-webkit-scrollbar-thumb {
    &:vertical,
    &:horizontal {
      background-color: colors.$gold;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track-piece {
    background-color: colors.$black;
  }

  * {
    box-sizing: border-box !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  background-color: unset;
  color: inherit;
  font-family: inherit;
  cursor: pointer;

  &[disabled] {
    cursor: default;
    pointer-events: none;
    background-color: #dcdcdc;
    border-color: transparent;
    color: #00000061;
  }
}

input {
  border: none;
  background: transparent;
  font-size: font-sizes.$font-28;
  line-height: 1.6;
  color: colors.$white;

  border-bottom: 2px solid colors.$gold;
  margin-bottom: 26px;

  @include breakpoints.xs-down {
    font-size: font-sizes.$font-16;
  }

  &.ng-touched.ng-invalid {
    border-color: colors.$error;
  }

  &:focus-visible {
    outline: none;
  }
}

.control-error {
  opacity: 0;
  color: colors.$error;
  margin-top: -18px;
  transform: translateY(-10px);

  transition: opacity 0.1s cubic-bezier(0.29, 1.13, 1, 1), transform 0.1s cubic-bezier(0.29, 1.13, 1, 1);

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  @include breakpoints.xs-down {
    font-size: font-sizes.$font-14;
  }
}

label {
  font-size: font-sizes.$font-28;
  line-height: 1.6;

  @include breakpoints.xs-down {
    font-size: font-sizes.$font-16;
  }
}


.container {
  max-width: calc(1392px + 100px * 2);
  padding: 0 100px;
  margin: 0 auto;

  @include breakpoints.sm-down {
    padding: 0 50px;
  }

  @include breakpoints.xs-down {
    padding: 0 20px;
  }
}
