@import "colors";

body {
  margin: 0;
  box-sizing: border-box;

  font-family: "Comfortaa", arial;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1392px;
  padding: 0 20px;
  margin: 0 auto;
}
