@use "breakpoints";
@use "colors";
@use "font-sizes";

:host {
  display: block;
  padding-top: 172px;

  @include breakpoints.sm-down {
    padding-top: 100px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hookahs {
  width: 100%;
  font-size: font-sizes.$font-48;
  line-height: 1.2;
  padding-top: 60px;

  @include breakpoints.lg-down {
    font-size: font-sizes.$font-32;
  }
  @include breakpoints.sm-down {
    font-size: font-sizes.$font-16;
    padding-top: 37px;
    line-height: 1.4;
  }

  .item-container {
    display: flex;
    justify-content: center;
    border-top: 3px solid colors.$gold;
    border-bottom: 3px solid colors.$gold;

    &:not(:first-of-type) {
      margin-top: -3px;
    }

    @include breakpoints.sm-down {
      border-width: 1px;

      &:not(:first-of-type) {
        margin-top: -1px;
      }
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1230px;
    width: 100%;
    min-height: 75px;

    @include breakpoints.sm-down {
      min-height: 40px;
      padding: 10px;
    }

    .name {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 20px 0 80px;

      @include breakpoints.sm-down {
        padding-left: 30px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 60px;
        height: 100%;
        background-image: url(/assets/icons/check.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -2px;

        @include breakpoints.sm-down {
          width: 20px;
        }
      }
    }

    .price {
      white-space: nowrap;
    }
  }
}
